body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
} 

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45rem;
    height: 60vh;
    background-color: #ffffff;
    border-radius: 20px;
    
}

.image-perfume{
    width: 100%;
    height: 60vh;
    border-radius: 20px 0px 0px 20px;
}

.text-box{
    display: grid;
    grid-template-rows: repeat(8, auto);
    margin-left: 2rem;
    margin-right: 2rem;
}

.perfume{
    grid-area: 2 / 1 / 2 / 1;
    font-weight: 300;
    font-size: 1.1rem;
} 

.name{
    grid-area: 3 / 1 / 3 / 1;
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    font-weight: 700;
}

.paragraf{
    grid-area: 4 / 1 / 4 ;
    line-height: 1.5rem;
    font-weight: 300;    
}

.price{
    grid-area: 5 / 1 / 5 / 1;
    display: flex;
    
    
}

.price span{
    font-size: 2rem;
    color:hsl(158, 36%, 37%) ;
    font-family:'Fraunces', serif;
    margin-right: 1rem;
}

.price s{
    font-weight: 300;
    margin-top: 8px;
}

.cart{
    grid-area: 6 / 1 / 6 / 1;
    background-color: hsl(158, 36%, 37%);
    width: 19rem;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
    color: #ffffff;
    transition: 0.3s;
    
} 

.cart:hover{
    transform: scale(1.05);
    background-color: hsl(hsl(158, 36%, 37%));
    box-shadow: 0px 0px  -5px 5px hsl(158, 36%, 37%);
    cursor: pointer;

}